body {
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
    background-color: black;
    
    
}

.head {
    margin: auto;
    text-align: center;
}

.af {
    width: auto;
    max-height: 18.75rem;
    margin: 0rem 1.25rem;
}

h2 {
    font-size: 3.125rem;
}
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 3.125rem;
    font-size: 1.563rem;
}

nav ul li a {
    text-decoration: none;
    margin-bottom: 3.125rem;
    color: aliceblue;
}


article {
    border-top: 0.063rem white;
    border-bottom: 0.063rem white;
    margin-top: 4.72rem;
    
    
}

p {
    font-size: 1.25rem;
    line-height: 1.8;
    margin-bottom: 0.75re;
    text-align: center
}

#about {
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
    width: auto;
    height: auto;
    margin: 0.625rem 5.625rem;
}

#headicn {
    width: auto;
    height: 2.5rem;
}

.para {
    text-align: justify;
    padding-top: 0.625rem;
    margin: 0px -1rem;
}

.watchf {
    text-align: center;
    
    margin-top: 1.875rem;
    padding: 1.875rem;
    
}
header {
    background-color: transparent;
    color:aliceblue;
    padding: 0.625rem 0;
}

hr
{
    border-style:dashed;
}

.navib {
    box-shadow: inset 0 0 0 0 #ff0303;
    color: aliceblue;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: 900ms ease-in;
}
.navib:hover {
    box-shadow: inset 250px 0 0 0 rgba(159, 3, 250, 0.514);
    color: rgb(255, 255, 255);
    font-size: 1.875rem;  
}
h3 {
font-size: 1.875rem;
}
