body
{
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
    text-align: center;
    
    
}
iframe
{
    padding: 1%;
    width: 332px;
    height: 178px;
}
#download
{
    width: auto;
    max-height: 30px;
    -webkit-filter: invert(1);
    filter: invert(1);
}
span
{
    margin: auto;
}
